@import "tailwindcss";

:root {
	--class-priest: #fff;
	--class-mage: #69CCF0;
	--class-warlock: #9482C9;
	--class-rogue: #FFF569;
	--class-druid: #FF7D0A;
	--class-hunter: #ABD473;
	--class-shaman: #0070DE;
	--class-warrior: #C79C6E;
	--class-paladin: #F58CBA;

	--wow-guild: #40FF40;
	--wow-officer: #40C040;

	--wow-rarity-poor: #9d9d9d;
	--wow-rarity-common: #ffffff;
	--wow-rarity-uncommon: #1eff00;
	--wow-rarity-rare: #0070dd;
	--wow-rarity-epic: #a335ee;
	--wow-rarity-legendary: #ff8000;

	--hue-horde: 0;
	--hue-alliance: 240;

	--theme-hue: var(--hue-horde);
	--theme-bg-default: hsl(var(--theme-hue), 100%, 17%);
	--theme-bg-darker: hsl(var(--theme-hue), 100%, 15%);
	--theme-bg-darkest: hsl(var(--theme-hue), 100%, 7%);

	--theme-text-1: #ececec;
	--theme-text-hue: hsl(var(--theme-hue), 100%, 80%);

	--accent: #2337ff;
	--accent-dark: #000d8a;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

html {
	background: var(--theme-bg-default);
	color: var(--theme-text-1);
	scrollbar-color: var(--theme-bg-default) var(--theme-bg-darkest);
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: 0.75rem;
}

::-webkit-scrollbar-track {
	background: var(--theme-bg-darkest);
}

::-webkit-scrollbar-thumb {
	background: var(--theme-bg-default);
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
		Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
		Noto Color Emoji;
	margin: 0;
	padding: 0;
	text-align: left;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 20px;
	line-height: 1.7;
}

.aside-main-aside {
	display: grid;
	margin: 2rem 3rem;
	grid-template-columns: 2fr 8fr 2fr;
	gap: 2rem;
}

.main-aside {
	margin: 3rem 5rem;
	display: grid;
	grid-template-columns: 9fr 3fr;
	gap: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--theme-text-hue);
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.fg-warrior { color: var(--class-warrior); }
.fg-paladin { color: var(--class-paladin); }
.fg-hunter { color: var(--class-hunter); }
.fg-rogue {	color: var(--class-rogue); }
.fg-priest { color: var(--class-priest); }
.fg-warlock { color: var(--class-warlock); }
.fg-shaman { color: var(--class-shaman); }
.fg-mage { color: var(--class-mage); }
.fg-druid { color: var(--class-druid); }
.fg-status-open { color: var(--wow-guild); }
.fg-member { color: var(--wow-guild); }
.fg-officer { color: var(--wow-officer); }

.widget {
	background: var(--theme-bg);
	border: 1px solid var(--theme-bg-darkest);
}

.widget-title {
	font-size: 1.5rem;
	margin: 0;
	padding: .25rem 1rem;
	background: var(--theme-bg-darkest);
}

.widget-content {
	padding: 1rem;
	margin: 0;
}

.widget p {
	margin: 0;
}

.widget table {
	width: 100%;
	border-collapse: collapse;
}

.bg-theme-darkest,
.widget thead {
	background: var(--theme-bg-darkest);
}

.widget th,
.widget td {
	padding: .5rem;
	text-align: left;
}

.widget td {
	border-bottom: 1px solid var(--theme-bg-darkest);
}
